html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #F5F7FB;
  background:
    url("Assets/blob1.png") bottom left no-repeat fixed,
    url("Assets/blob2.png") top right no-repeat fixed;
  color: #293264;
  font-family: 'Inter';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla';
}

.btn-fnc {
  color: #fff;
  background-color: #4D5B9E;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 10px;
  border: 0px;
}

.btn-fnc:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}